.grille {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.grille img {
    width: 50%;
    height: 100%;
    object-fit: cover;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
